.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(192, 174, 198, 0.3), rgba(186, 160, 194, 0.5)), url("../../images/not.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
    color: black;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
    color: rgb(14, 15, 14);
    overflow: hidden;
  height: 100px;
    animation: marquee-animation 3s linear; 
}

@keyframes marquee-animation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}